body{
    text-align: center;
    background-color: rgb(141, 134, 214);
    font-family: Arial, sans-serif;
    color: rgb(43, 226, 67);
    margin: 20px;
    padding: 50px;
}

#cabecera{
    background-color: rgb(246, 241, 241);
    color: rgb(226, 43, 144);
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    width: 280px;
    font-family: Arial, sans-serif;
    font-size: 30px;


}
#container{
    width: 100%;
    background-color: rgb(13, 13, 13);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 300px;
}